@{
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Expose_Tracker</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<!-- Syncfusion ASP.NET Core controls styles -->
		<link href="https://cdn.syncfusion.com/ej2/20.2.43/bootstrap5-dark.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--  <link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/20.2.43/material.css" /> -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Montserrat:wght@400;600;700&family=Nunito:wght@400;700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Expose_Tracker.styles.css" asp-append-version="true" />
	<!-- Syncfusion ASP.NET Core controls scripts -->
	<script src="https://cdn.syncfusion.com/ej2/20.2.43/dist/ej2.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
	body, html {
	background-image: url('https://i.imgur.com/xhiRfL6.jpg');
	height: 100%;
}
</style>
<SCRIPT type="text/javascript">
    window.history.forward();
    function noBack() { window.history.forward(); }
</SCRIPT>
</head>
<body onload="noBack();"
    onpageshow="if (event.persisted) noBack();" onunload="">
 <div class="container h-80">
<div class="row align-items-center h-100">
	<div class="col-3 mx-auto">
		<div class="text-center">

			<img id="profile-img" class="rounded-circle profile-img-card" src="https://i.imgur.com/6b6psnA.png" />
					@using (Html.BeginForm("Index", "Login", FormMethod.Post))
					{
							<input type="password" name="Password" id="inputPassword" class="form-control form-group" placeholder="password" required autofocus>
										<span class="alert-success">
											@Html.Raw(TempData["AlertMessage"])
	</span>
							<button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">enter</button>
					}
				</div>
	</div>
</div>
</div>
<!-- Section: Design Block -->
</body>
</html>
